[submodule "cltl-requirements/util"]
	path = cltl-requirements/util
	url = https://github.com/leolani/cltl-build.git
	branch = main
[submodule "emissor"]
	path = emissor
	url = https://github.com/leolani/emissor.git
	branch = main
[submodule "util"]
	path = util
	url = https://github.com/leolani/cltl-build.git
	branch = main
[submodule "cltl-combot"]
	path = cltl-combot
	url = https://github.com/leolani/cltl-combot.git
	branch = main
[submodule "cltl-emissor-data"]
	path = cltl-emissor-data
	url = https://github.com/leolani/cltl-emissor-data.git
	branch = main
[submodule "cltl-chat-ui"]
	path = cltl-chat-ui
	url = https://github.com/leolani/cltl-chat-ui.git
	branch = main
[submodule "app/util"]
	path = app/util
	url = https://github.com/leolani/cltl-build.git
	branch = main
[submodule "cltl-knowledgeextraction"]
	path = cltl-knowledgeextraction
	url = https://github.com/leolani/cltl-knowledgeextraction.git
	branch = main
[submodule "cltl-knowledgelinking"]
	path = cltl-knowledgelinking
	url = https://github.com/leolani/cltl-knowledgelinking.git
	branch = main
[submodule "cltl-knowledgerepresentation"]
	path = cltl-knowledgerepresentation
	url = https://github.com/leolani/cltl-knowledgerepresentation.git
	branch = main
[submodule "cltl-languagegeneration"]
	path = cltl-languagegeneration
	url = https://github.com/leolani/cltl-languagegeneration.git
	branch = main
