[loggers]
keys: root,werkzeug,triples_analyzer,triples_cfg

[handlers]
keys: console, file

[formatters]
keys: pepperFormatter

[logger_root]
level: DEBUG
handlers: console, file

[logger_werkzeug]
level: ERROR
qualname=werkzeug
handlers: console, file

[logger_triples_analyzer]
level: ERROR
qualname=cltl.triple_extraction.analyzer
handlers: console, file

[logger_triples_cfg]
level: ERROR
qualname=cltl.triple_extraction.cfg_analyzer
handlers: console, file

[handler_console]
class: StreamHandler
level: NOTSET
formatter: pepperFormatter
args: (sys.stdout,)

[handler_file]
class: FileHandler
level: NOTSET
formatter: pepperFormatter
args: ('storage/leolani.log', 'w')

[formatter_pepperFormatter]
format: %(asctime)s %(levelname)-8s %(name)-60s %(message)s
datefmt: %x %X

